%h1 Listing authors

%table
  %tr
    %th Firstname
    %th Surname
    %th Title before
    %th Title after
    %th
    %th
    %th

  - @authors.each do |author|
    %tr
      %td= author.firstname
      %td= author.surname
      %td= author.title_before
      %td= author.title_after
      %td= link_to 'Show', author
      %td= link_to 'Edit', edit_author_path(author)
      %td= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Author', new_author_path
