%p#notice= notice

%p
  %b Firstname:
  = @author.firstname
%p
  %b Surname:
  = @author.surname
%p
  %b Title before:
  = @author.title_before
%p
  %b Title after:
  = @author.title_after

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
